* {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: whitesmoke;
}

body.dark {
    background-color: #282626;
    color: #fff
}

h1 {
    margin: 70px 0px 20px 0px;
    font-style: italic
}

button {
    height: 30px;
    width: 75px;
    padding: 5px 10px;
    border-radius: 5px;
    border: rgb(67, 79, 105) solid 2px;
    background-color: #fff;
    margin: 15px 7px;
    cursor: pointer
}

button.dark {
    color: #fff;
    background-color: rgb(67, 79, 105);

}


button:hover {
    color: #fff;
    background-color: rgb(67, 79, 105);

}

button:hover.dark {
    border: rgb(67, 79, 105);
    background-color: rgb(194, 199, 204);
    color: rgb(38, 44, 58);
}

table {
    display: inline-block;
    margin-top: 20px;
    border: 2px solid rgb(67, 79, 105);
    border-collapse: collapse;
    border-radius: 5px;
}

td {
    border: 2px solid rgb(67, 79, 105);
    width: 50px;
    height: 50px;
}

.life {
    display: inline-block;
    margin-left: 15px;
}

.timer {
    display: inline-block;
    margin-right: 15px;
}

.hint {
    height: 30px;
    width: 90px;
    background-color: rgb(217, 220, 225);
    border: none;
}

.hint.dark,
.mood.dark,
.safeBtn.dark {
    background-color: rgb(67, 79, 105);
}

.mood {
    height: 30px;
    width: 45px;
    background-color: rgb(217, 220, 225);
    border: none;
}

.safeBtn {
    height: 30px;
    width: 90px;
    background-color: rgb(217, 220, 225);
    border: none;
}

.isShow {
    background-color: rgb(217, 220, 225);
}

.safe {
    background-color: rgb(67, 79, 105);
}

.darkBtn {
    height: 30px;
    width: 90px;
    background-color: rgb(217, 220, 225);
    border: none;
}